
@font-face {
    font-family: "Lato";
    src:    url("Lato/Lato-Black.ttf") format("ttf"),
            url("Lato/Lato-BlackItalic.ttf") format("ttf")
            url("Lato/Lato-Bold.ttf") format("ttf")
            url("Lato/Lato-Regular.ttf") format("ttf")
   }

body{
    background-image: url('images/fond_albion.jpg');
    background-size: cover;
    font-family: Lato, serif;
}

header, footer, main{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
}

main{
    display: flex;
    justify-content: space-evenly;
}
    .player{
        border: 1px solid black;
        border-radius: 5px;
        background: white;
    }
#action{
    text-align: center;
}
.lifePoint{
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 35px;
}
